{$DOMAIN} {
  encode zstd gzip
  reverse_proxy app:8000 {
    header_up X-Forwarded-Proto {scheme}
  }
  header {
    Content-Security-Policy "default-src 'self'; base-uri 'self'; form-action 'self'; frame-ancestors 'none'; object-src 'none'; script-src 'self'; style-src 'self'; img-src 'self' data:"
    Permissions-Policy "camera=(), geolocation=(), microphone=()"
  }
}
